In [2]:
import netCDF4
import pandas as pd

In [3]:
precip_nc_file = 'NOAAGlobalTemp_v5.0.0_gridded_s188001_e202010_c20201108T133314.nc'
nc = netCDF4.Dataset(precip_nc_file, mode='r')

In [6]:
nc

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.6, ACDD-1.3
    title: NOAA Merged Land Ocean Global Surface Temperature Analysis (NOAAGlobalTemp)
    summary: NOAAGlobalTemp is a merged land-ocean surface temperature analysis, formerly abbreviated as MLOST. The SST dataset is the Extended Reconstructed Sea Surface Temperature (ERSST) and the land surface air temperature dataset is from the Global Historical Climatology Network Monthly (GHCN-M) database.
    institution: DOC/NOAA/NESDIS/National Centers for Environmental Information(NCEI)
    id:  gov.noaa.ncdc:C00934
    naming_authority:  gov.noaa.ncei
    project:  NOAAGlobalTemp
    platform: Ships, moored buoys, surface drifting buoys, Argo floats, and weather stations
    instrument: Conventional thermometers
    history: Version 5.0.0, blending ERSST V5 and GHCN-M V4.
    comment: Merged land ocean surface temperature anomalies.
    product_version: 5.0.0
    source: NOAAGlobalTemp combines a global sea surface temperature with a global land surface air temperature data
    ncei_template_version: NCEI_NetCDF_Grid_Template_v2.0
    Metadata_Conventions: Unidata Dataset Discovery v1.0
    license: These data are available for use without restriction.
    creator_name: Boyin Huang, Xungang Yin, Ph.D
    creator_email: Boyin.Huang@noaa.gov, Xungang.Yin@noaa.gov
    creator_type: group
    creator_institution: US DOC/NOAA/NESDIS/National Centers for Environmental Information(NCEI)
    contributor_name: Huai-min Zhang, Ph.D
    contributor_role: Chief, NOAA/NESDIS/NCEI/CCOG/OSB Ocean Surface Section
    publisher_name: NCEI
    publisher_institution: NCEI
    publisher_url: https://www.ncdc.noaa.gov/
    publisher_email: ncei.info@noaa.gov
    publisher_type: institution
    keywords: Earth Science > Oceans > Ocean Temperature > Sea Surface Temperature, Earth Science > Atmosphere > Atmospheric Temperature > Surface Temperature > Air Temperature
    keywords_vocabulary: NASA Global Change Master Directory (GCMD) Science Keywords
    standard_name_vocabulary: Climate and Forecast (CF) Standard Name Table (Version 46, 25 July 2017)
    date_created: 2020-11-08T18:33:15Z
    necdf_version_id: 4.2.1.1
    netcdf_creator_name: Yongsheng Zhang, Ph.D
    netcdf_creator_email: yongsheng.zhang@noaa.gov
    dataset_citation_product: NOAA Merged Land Ocean Global Surface Temperature Analysis (NOAAGlobalTemp)
    dataset_citation_version: 5.0.0
    dataset_citation_institution: NOAA/NESDIS/NCEI, Asheville, NC, USA
    dataset_citation_url: https://doi.org/10.25921/9qth-2p70
    metadata_link: https://doi.org/10.25921/9qth-2p70
    cdm_data_type: Grid
    grid_mapping_name: latitude_longitude
    processing_level: NOAA Processing Level 4
    geospatial_lon_min: 2.5
    geospatial_lon_max: 357.5
    geospatial_lon_units: degrees_east
    geospatial_lon_resolution: 5.0 degree
    geospatial_lat_min: -87.5
    geospatial_lat_max: 87.5
    geospatial_lat_units: degrees_north
    geospatial_lat_resolution: 5.0 degree
    geospatial_bounds: POLYGON ((2.5 -87.5, 2.5 87.5, 357.5 87.5, 357.5 -87.5, 2.5 -87.5))
    geospatial_bounds_crs: EPSG:4326
    geospatial_vertical_min: 0.0
    geospatial_vertical_max: 0.0
    geospatial_vertical_units: meters
    geospatial_vertical_resolution: 0.f
    geospatial_vertical_positive: up
    time_coverage_start: 1880-01
    time_coverage_end: 2020-10
    time_coverage_resolution: P1M
    time_coverage_duration: P140Y10M
    references: Vose, R. S., et al., 2012: NOAAs merged land-ocean surface temperature analysis. Bulletin of the American Meteorological Society, 93, 1677-1685. doi: 10.1175/BAMS-D-11-00241.1. Huang, B., Peter W. Thorne, et. al, 2017: Extended Reconstructed Sea Surface Temperature version 5 (ERSSTv5), Upgrades, validations, and intercomparisons. J. Climate, 30, 8179-8205. doi: 10.1175/JCLI-D-16-0836.1
    climatology: Climatology is based on 1971-2000 monthly climatology
    acknowledgment: The NOAA Global Surface Temperature Dataset is provided by the NOAA National Centers for Environmental Information(NCEI)
    date_modified: 2020-11-08T18:33:15Z
    date_issued: 2020-11-08T18:33:15Z
    dimensions(sizes): time(1690), lat(36), lon(72), z(1)
    variables(dimensions): float32 time(time), float32 lat(lat), float32 lon(lon), float32 z(z), float32 anom(time, z, lat, lon)
    groups:

In [22]:
nc.variables.keys()

dict_keys(['time', 'lat', 'lon', 'z', 'anom'])

In [27]:
import xarray as xr

ds = xr.open_dataset('NOAAGlobalTemp_v5.0.0_gridded_s188001_e202010_c20201108T133314.nc')
df = ds.to_dataframe()
df.to_csv('NOAAGlobalTemp_v5.0.0_gridded_s188001_e202010_c20201108T133314.csv')

In [26]:
df

                            anom
lat   lon   time       z
-87.5 2.5   1880-01-01 0.0   NaN
            1880-02-01 0.0   NaN
            1880-03-01 0.0   NaN
            1880-04-01 0.0   NaN
            1880-05-01 0.0   NaN
...                          ...
 87.5 357.5 2020-06-01 0.0   NaN
            2020-07-01 0.0   NaN
            2020-08-01 0.0   NaN
            2020-09-01 0.0   NaN
            2020-10-01 0.0   NaN

[4380480 rows x 1 columns]

In [18]:
lat = nc.variables['lat'][:]
lon = nc.variables['lon'][:]
time_var = nc.variables['time']
dtime = netCDF4.num2date(time_var[:],time_var.units)
z = nc.variables['z'][:]
anom = nc.variables['anom'][:]

# a pandas.Series designed for time series of a 2D lat,lon grid
anom_ts = pd.Series(anom, index=dtime) 

# precip_ts.to_csv('precip.csv',index=True, header=True)

Exception: Data must be 1-dimensional

In [15]:
dtime

masked_array(data=[cftime.DatetimeGregorian(1880, 1, 1, 0, 0, 0, 0),
                   cftime.DatetimeGregorian(1880, 2, 1, 0, 0, 0, 0),
                   cftime.DatetimeGregorian(1880, 3, 1, 0, 0, 0, 0), ...,
                   cftime.DatetimeGregorian(2020, 8, 1, 0, 0, 0, 0),
                   cftime.DatetimeGregorian(2020, 9, 1, 0, 0, 0, 0),
                   cftime.DatetimeGregorian(2020, 10, 1, 0, 0, 0, 0)],
             mask=False,
       fill_value='?',
            dtype=object)

In [28]:
nc.variables['anom']

<class 'netCDF4._netCDF4.Variable'>
float32 anom(time, z, lat, lon)
    long_name: Global Temperature Anomalies
    standard_name: surface_temperature_anomaly
    coverage_content_type: physicalMeasurement
    units: degrees C
    missing_value: -999.9
    _FillValue: -999.9
    add_offset: 0.0
    scale_factor: 1.0
    valid_min: -40.0
    valid_max: 40.0
    coordinates: time z lat lon
unlimited dimensions:
current shape = (1690, 1, 36, 72)
filling on